.logo {
  height: 40px;
  filter: invert(90%) sepia(19%) saturate(171%) hue-rotate(24deg)
    brightness(109%) contrast(105%);
}

.navbar {
  background-color: #82a3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 100px;
}

.links li {
  font-size: 22px;
}

.links a {
  color: #fffbf2;
  text-decoration: none;
}

.links a:hover {
  color: #ff9e9e;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media a {
  color: #fffbf2;
  text-decoration: none;
}

.social-media a:hover {
  color: #ff9e9e;
}
